<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" , initial-scale-1 />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Dark_Mode.css" />
    @*<link rel="stylesheet" href="~/css/Light_Mode.css" />*@
    <script src="~/js/SideNav.js"></script>
</head>
<body>
    <form asp-action="HashedPasswords" method="post">
        <input type="text" name="Plaintext" required style="color: black;"/>
        <input type="submit" style="color: black;"/>
    </form>

    @{ if (ViewBag.PasswordHash != null && ViewBag.Salt != null)
        {
        <textarea style="color:black;">@ViewBag.PasswordHash</textarea> <br />
        <textarea style="color: black;">@ViewBag.Salt</textarea>
        }
    }
</body>
</html>
