@model IEnumerable<Playground_Application.Models.Video>


<!DOCTYPE html>
<html>
<head>
    <title>My Playground!</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .card {
            display: inline-block;
            box-shadow: rgba(0,0,0,0.2) 3px 3px 3px;
        }
    </style>
</head>
<body>


    <div id="ShowTheSelectedProject">
        @* Dynamically showing cards with embeded youtube videos
        Have the ability to add cards
        *@
        <div id="CardsWithEmbeddedVideos">
            <strong>
                <a asp-action="AddVideo">Add a video</a>
            </strong>
            <br />

            @foreach (var video in Model)
            {
                <div class="card">
                    <div class="embed-responsive-1by1; text-center" style="padding-top: 1rem;">
                        <iframe src="@video.VideoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@video.Title</h5>
                        <p class="card-text">@video.Description</p>
                    </div>
                </div>
            }
            <br />
        </div>
    </div>
</body>
</html>