
body {
    background-color: #2B2E34;
    color: white;
}

.card {
    background-color: #343a40;
    color: white;
    width: 28rem;
    height: 30rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

header {
/*    background-color: #222222;
    color: white;*/
}